$primaryBtn: rgb(122, 53, 65);
$textColor: rgb(227, 230, 78);


header {
    background-color: #0c5c5c;
    display: flex;
    justify-content: center;
    color: $textColor;

    button {
        background-color: $primaryBtn;

        &:hover {
            background-color: rgb(110, 110, 56);
        }

    }
}


.contact button {
    background-color: $primaryBtn;
}